site_name: Kryptonite for Apache Kafka
site_description: Client-side field-level cryptography for Apache Kafka
site_url: https://hpgrahsl.github.io/kryptonite-for-kafka/
repo_url: https://github.com/hpgrahsl/kryptonite-for-kafka
repo_name: hpgrahsl/kryptonite-for-kafka
edit_uri: edit/master/docs/

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.code.annotate

extra_css:
  - assets/stylesheets/extra.css

plugins:
  - search
  - glightbox

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started:
    - Overview: getting-started.md
    - Kafka Connect SMT: getting-started/connect-smt.md
    - Apache Flink UDFs: getting-started/flink-udfs.md
    - Quarkus HTTP API: getting-started/funqy-http.md
    - ksqlDB UDFs: getting-started/ksqldb-udfs.md
  - Configuration: configuration.md
  - Key Management: key-management.md
  - Keyset Tool: keyset-tool.md
  - Cloud KMS:
    - Overview: kms/overview.md
    - AWS KMS: kms/aws.md
    - GCP Cloud KMS: kms/gcp.md
    - Azure Key Vault: kms/azure.md
  - Modules:
    - Kafka Connect SMT: modules/connect-smt.md
    - Flink UDFs: modules/flink-udfs.md
    - Quarkus HTTP API: modules/funqy-http.md
    - ksqlDB UDFs: modules/ksqldb-udfs.md
  - Security: security.md
