name: Kryptonite 4 Kafka Default CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test
        # NOTE: Temporarily excluding ksqldb-udfs-kryptonite module as there are some weird unresolvable transitive dependencies
        # that cause the build to fail - this needs deeper investigation! The local build worked as the problematic dependencies
        # were already in the local maven repo from earlier builds a longer time ago.
        run: ./mvnw verify -pl '!ksqldb-udfs-kryptonite'
        